.technology img {
  filter: drop-shadow(0 0 4px var(--color-primary));
}
.not img {
  filter: none;
  opacity: 30%;
}
@media (min-width: 1200px) {
  .technologies {
    margin: 6rem 0 2rem 0;
  }
  .technology {
    height: auto;
    margin: 3rem 0 12rem 0;
  }
  .technologies .line--purple {
    height: max-content;
    margin-top: 0;
  }
}
